#main-div {
    font-family: Roboto, serif;
    font-size: 14px;
    color: white;

    display: flex;
    justify-content: space-between;
    width: 100%;
}

#sub-div {
    display: flex;
    gap: 8px;
}

.dropdown {
    background: #171717;
    padding: 8px 16px 8px 16px;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 8px;
    z-index: 9999999999999;
}

/* toggle class in js */
.dropdown.hidden {
    display: none;
}

#v.dropdown {
    /* make it rooted on the right side instead of the left */
}

.chip {
    background: #171717;
    padding: 8px 12px 8px 16px;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    cursor: pointer;
    user-select: none;
    align-items: center;
}

.icon {
    font-family: "comic sans ms", serif; /* temporary */
    transition: transform .3s ease;
    width: fit-content;
    height: fit-content;
}

/* toggle class in js */
.icon.flipped {
    transform: rotate(-180deg);
}