#duration-and-views {
    background: #303030;
    color: white;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    border-radius: 8px;

    width: 167px;
    height: 40px;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;

    user-select: none;
}

#dav-dd {
    background: #303030;
    color: white;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    border-radius: 8px;

    position: absolute;
    top: 56px;
    width: 300px;
    height: 68px;
    display: none;
    z-index: 100;
}

.text-field {
    color: white;
    background: #1C1C1C;
    border-radius: 8px;
    width: 100px;
    height: 48px;
    margin: auto;
}